USE [upp]
GO
/****** Object:  Table [dbo].[Ads]    Script Date: 17.11.2025 16:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads](
	[AdID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PostDate] [datetime] NOT NULL,
	[CityID] [int] NULL,
	[CategoryID] [int] NULL,
	[AdTypeID] [int] NULL,
	[StatusID] [int] NULL,
	[Price] [money] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdTypes]    Script Date: 17.11.2025 16:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdTypes](
	[AdTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeDescription] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17.11.2025 16:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 17.11.2025 16:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 17.11.2025 16:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.11.2025 16:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[TotalProfit] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ads] ON 

INSERT [dbo].[Ads] ([AdID], [UserID], [Title], [Description], [PostDate], [CityID], [CategoryID], [AdTypeID], [StatusID], [Price], [IsActive]) VALUES (1, 10, N'Продажа дома', N'Участок 10 соток, все коммуникации', CAST(N'2025-05-04T00:00:00.000' AS DateTime), 4, 2, 2, 1, 21362.0000, 1)
INSERT [dbo].[Ads] ([AdID], [UserID], [Title], [Description], [PostDate], [CityID], [CategoryID], [AdTypeID], [StatusID], [Price], [IsActive]) VALUES (2, 20, N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-04-26T00:00:00.000' AS DateTime), 3, 4, 3, 2, 87371.0000, 1)
INSERT [dbo].[Ads] ([AdID], [UserID], [Title], [Description], [PostDate], [CityID], [CategoryID], [AdTypeID], [StatusID], [Price], [IsActive]) VALUES (3, 8, N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-03-09T00:00:00.000' AS DateTime), 2, 4, 1, 2, 85947.0000, 1)
SET IDENTITY_INSERT [dbo].[Ads] OFF
GO
SET IDENTITY_INSERT [dbo].[AdTypes] ON 

INSERT [dbo].[AdTypes] ([AdTypeID], [TypeDescription]) VALUES (1, N'Аренда')
INSERT [dbo].[AdTypes] ([AdTypeID], [TypeDescription]) VALUES (2, N'Продажа')
INSERT [dbo].[AdTypes] ([AdTypeID], [TypeDescription]) VALUES (3, N'Услуга')
SET IDENTITY_INSERT [dbo].[AdTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Авто')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Недвижимость')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Одежда')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [CityName]) VALUES (1, N'Екатеринбург')
INSERT [dbo].[Cities] ([CityID], [CityName]) VALUES (2, N'Казань')
INSERT [dbo].[Cities] ([CityID], [CityName]) VALUES (3, N'Москва')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (1, N'Активно')
INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (2, N'Завершено')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [TotalProfit]) VALUES (1, N'user1', N'pass1', 0.0000)
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [TotalProfit]) VALUES (2, N'user10', N'pass10', 0.0000)
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [TotalProfit]) VALUES (3, N'user11', N'pass11', 0.0000)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BD9D61570]    Script Date: 17.11.2025 16:12:18 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ads] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [TotalProfit]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD FOREIGN KEY([AdTypeID])
REFERENCES [dbo].[AdTypes] ([AdTypeID])
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
